body {
  background-color: #dd;
  color: #ddddd;
  font-family: Arial Helvetica, sans serif; 
  margin: 10% 15%;
 
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #ddd; 
  border-bottom: 1px solid #ddd;
  background-color: rgba(0,0,0, 0.2)

}

 h5 {
  color:brown;
}

 h6 {
  color:brown;
}

 h4 {
  color:brown;
}

 ul{
  color:orange;
}

